body
{
    background-color: gainsboro;
    width: 1420px;
    height: auto;
    margin: auto;
}

h1
{
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

img
{
    width: 500px;
    height: 500px;
    float: right;
    border-radius: 5px;
}

nav p
{
    font-family: 'Ubuntu', sans-serif;
}

nav
{
    text-align: center;
    word-spacing: 30px;
}

nav a
{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: black;
}

nav a:hover
{
    color:darkgreen;
    font-size: larger;
}

h2
{
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

h3
{
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

aside li
{
    font-family: 'Ubuntu', sans-serif;
}

dfn
{
    font-family: 'Ubuntu', sans-serif;
}

blockquote
{
    font-family: 'Ubuntu', sans-serif;
}

form
{
    font-family: 'Ubuntu', sans-serif;
}

footer
{
    font-family: 'Ubuntu', sans-serif;
}

table
{
    border: 1px solid black;
}

td
{
    border: 1px solid black;
    width:100px;
    height:20px;
}